*.suo
*.db
*.ipch
*.exe
*.pdb
*.ilk
*.tlog
*.obj
*.log
*.idb
*.vcxproj
*.filters
*.user
*.sln
*.opendb
*.iobj
*.ipdb
CMakeCache.txt
CMakeFiles
Makefile
*.o
*.out
*.make
*.internal
.vscode

cmake_install.cmake
/.vs
/out/build/x64-Release
